<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ussrfantom.com.example.myscanner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyScanner">
        <activity android:name=".Screens.Payment.EquaringActivity"></activity>
        <activity android:name=".Screens.Payment.NoCashActivity" />
        <activity android:name=".Screens.Payment.CashActivity" />
        <activity android:name=".Screens.QrCode.QrCode" />
        <activity android:name=".Screens.Greeting.GreetingActivity" />
        <activity android:name=".Screens.BasketScreen.BasketScreen" />
        <activity
            android:name=".Screens.CaptureScreen.CaptureScreen"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".Screens.SplashScreen.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>